@import url('https://fonts.googleapis.com/css?family=Montserrat:400');


body {
	/*body spacing*/
	margin: 0;

	/*standard font settings*/
	font-family: 'Montserrat', sans-serif;
	font-size: 1.25rem;

	/*background*/
	background-color: #202020;

	/*standard display/flex settings*/
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}