header{
	/*layout*/
	text-align: center;
}


	header p {
		/*spacing*/
		margin: 15px;

		/*main title font settings*/
		font-size: 5rem;
		color: #ffffff;
		font-weight: 900;
	}

		.mainTitle404{
			/*main title "404: settings*/
			color: #ff0000;

			/*layout*/
			vertical-align: middle;
		}

		.mainTitleV1ru5NotFound {
			/*main title " v1ru5 not found" settings*/
			font-size: 3.5rem;
			font-weight: 700;

			/*layout*/
			vertical-align: middle;
		}
		

	header hr {
		/*spacing/layout*/
		margin: 15px auto 15px auto;

		/*layout/design*/
		width: 66.6%;

		/*design*/
		border: 2.5px solid #ffffff;
		border-radius: 90px;
	}