main {
	/*layout*/
	text-align: center;

	/*standard font settings*/
	color: #ffffff;
}


	/*-waitingCustomGameDiv*/
		.waitingCustomGameWelcomeMsg {
			/*spacing*/
			margin: 30px 0 15px 0;

			/*welcome msg font settings*/
			font-size: 2.25rem;
		}

			.waitingCustomGameNickname {
				/*nickname title "404: settings*/
				color: #ff0000;
			}


		.waitingCustomGameNote {
			/*spacing*/
			margin: 0 0 15px;

			/*note font settings*/
			font-size: 1.5rem;
		}


		.CustomGameId {
			/*spacing*/
			margin: 0 0 15px;

			/*note font settings*/
			font-size: 3rem;
			color: #ff0000;

			/*code decoration*/
			text-decoration: underline;
			text-decoration-color: #ffffff;
		}


		.waitingCustomGameQuitLink {
			/*spacing*/
			margin: 45px 0 15px 0;
		}

			.waitingCustomGameQuitLink a {
				/*quit font settings*/
				font-size: 1.625rem;
				color: #9f9f9f;
			}


	/*.waitingEnterGameDiv*/
		.waitingEnterGameP {
			/*spacing*/
			margin: 45px;

			/*title font settings*/
			font-size: 3rem;
			color: #ff0000;
		}


		.waitingEnterGameQuitLink {
			/*spacing*/
			margin: 45px 0 15px 0;
		}

			.waitingEnterGameQuitLink a {
				/*quit font settings*/
				font-size: 1.625rem;
				color: #9f9f9f;
			}


	/*.waitingForOpponent*/
		.waitingForOpponentP {
			/*spacing*/
			margin: 45px;

			/*title font settings*/
			font-size: 3rem;
			color: #ff0000;
		}


		.waitingForOpponentQuitLink {
			/*spacing*/
			margin: 45px 0 15px 0;
		}

			.waitingForOpponentQuitLink a {
				/*quit font settings*/
				font-size: 1.625rem;
				color: #9f9f9f;
			}


	.gameContainer {
		display: grid;

		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-template-rows: auto 1fr;
		grid-template-areas:
		 "playerInfo timePlayed ticksCalculated opponentPlayerInfo"
		 "gameCanvas gameCanvas gameCanvas gameCanvas";

		line-height: 0px;
	}

		.playerInfo {
			grid-area: playerInfo;

			margin: 0;
			padding: 20px;
		}

		.timePlayed {
			grid-area: timePlayed;

			margin: 0;
			padding: 20px;
		}

		.ticksCalculated {
			grid-area: ticksCalculated;

			margin: 0;
			padding: 20px;
		}

		.opponentPlayerInfo {
			grid-area: opponentPlayerInfo;

			margin: 0;
			padding: 20px;
		}

		.gameCanvas {
			grid-area: gameCanvas;
		}


	/* hidden divs */
		.hidden {
			display: none;
		}